/* Asegúrate de que el body y el html ocupen el 100% de la altura */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Contenedor principal */
:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulario de login */
.card-body {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Limita el tamaño del formulario */
  width: 100%;
}

.form-control {
  border-radius: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

button.btn {
  background-color: hsl(218, 81%, 60%);
  border-radius: 25px;
  padding: 12px 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
}

/* Para el fondo y los elementos redondeados */
#radius-shape-1, #radius-shape-2 {
  position: absolute;
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: saturate(200%) blur(25px);
  border-radius: 20px;
  padding: 1.5rem;
}

/* Responsividad: Ajuste para pantallas más pequeñas */

/* Ajuste de la forma en pantallas pequeñas (smaller screens) */
@media (max-width: 1024px) {
  /* Reducir el tamaño del texto */
  .display-5 {
    font-size: 2.5rem;
  }
  
  .form-control {
    padding: 10px;
  }

  .card-body {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  /* Ajustes para pantallas de dispositivos móviles */

  /* Ajustar el tamaño del título */
  .display-5 {
    font-size: 2rem;
  }

  /* Ajustar el formulario */
  .card-body {
    padding: 1rem;
  }

  /* Hacer los botones más pequeños */
  button.btn {
    padding: 10px 18px;
  }

  /* Ajustar el campo de búsqueda en móviles */
  #product .container .row.mb-4 input.form-control {
    display: none;
  }
}

@media (max-width: 576px) {
  /* Ajustar el tamaño del texto aún más en pantallas muy pequeñas */
  .display-5 {
    font-size: 1.5rem;
  }

  .card-body {
    padding: 0.75rem;
  }

  /* Botones más pequeños en pantallas muy pequeñas */
  button.btn {
    padding: 8px 16px;
  }
}
